:root {
    --cork-red: #ff6b64;
    --bg: #fff;
    --contrast: #212121;
    --radius: 10px;
    --radius-L: 25px;
}

body {
    /* background-image:
      linear-gradient(45deg, var(--cork-red) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, var(--cork-red) 75%),
      linear-gradient(45deg, transparent 75%, var(--cork-red) 75%),
      linear-gradient(45deg, var(--cork-red) 25%, var(--bg) 25%);    
    background-size:24px 24px;       
    background-position:0 0, 0 0, -12px -12px, 12px 12px; */
    background-color: rgba(255, 107, 100, 1);
    text-align: center;
    color: var(--contrast);

    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    font-weight: normal;
}

.ccu-logo {
    width: 30rem;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--contrast);
}

a:visited {
    color: var(--contrast);
}

a:hover > article {
    background-color: var(--contrast);
    color: var(--bg);
}

.link-group {
    margin-bottom: 3rem;
}

article {
    background-color: var(--bg);
    display: block;
    margin: 1rem auto;
    font-size: 1.2rem;
    padding: 0.75rem;
    border-radius: var(--radius);
    box-shadow: 0 0 20px #00000077;
}

article.link {
    max-width: 20rem;
    border-radius: var(--radius-L);
}

article.about {
    text-align: left;
    max-width: 65ch;
}